html {
    background-color: #000000;
}

body {   
  background: #17181c;
  max-width: 1280px;

  margin: auto;

  padding: 15px;
}

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

#bodyText {
  font-size: 16px;
  color : #ffffff;
}

#header1 {
  font-size: 26px;
  color: #c2d69b;
}

#header2 {
  font-size: 22px;
  color: #fabf8f;
}

@media screen and (min-width: 300px) {
  #bodyText {
    font-size: calc(16px + 6 * ((100vw - 300px) / 980));
  }

  #header1 {
    font-size: calc(26px + 6 * ((100vw - 300px) / 980));
  }

  #header2 {
    font-size: calc(22px + 6 * ((100vw - 300px) / 980));
  }
}

@media screen and (min-width: 1280px) {
  #bodyText {
    font-size: 22px;
  }

  #header1 {
    font-size: 32px;
  }

  #header2 {
    font-size: 28px;
  }
}