html {
    background-color: #1f1d1c;
}

body {   
  background: #1b1818;
  max-width: 1280px;

  margin: auto;

  padding: 38px;
  font-family: "OpenSans";
}

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;

  display: flex;
}




a:link {
  color:#e6ccff;
}


a:visited {
  color:#b3e6ff;
}

a:hover {
  color:#ccffdd;
}

a:active {
  color:#b3e6ff;
}






#bodyText {
  font-size: 16px;
  color : #e8e6e3;

  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 20px;

  background: #1f1d1c;

}

#beyondGCSE {
  margin: auto;

  padding-left: 12%;
  padding-right: 12%;
  padding-top: 15px;
  padding-bottom: 15px;

  border-radius: 500px;
  border-style: solid;
  border-width: 2px;
  border-color: #e8e6e3;


  background: #361716;
}

#header1 {
  font-size: 26px;
  color: #c2d69b;
}

#header2 {
  font-size: 22px;
  color: #fabf8f;
}

@media screen and (min-width: 300px) {
  #bodyText {
    font-size: calc(16px + 6 * ((100vw - 300px) / 980));
  }

  #header1 {
    font-size: calc(26px + 6 * ((100vw - 300px) / 980));
  }

  #header2 {
    font-size: calc(22px + 6 * ((100vw - 300px) / 980));
  }
}

@media screen and (min-width: 1280px) {
  #bodyText {
    font-size: 22px;
  }

  #header1 {
    font-size: 32px;
  }

  #header2 {
    font-size: 28px;
  }
}